/** WordPress 3.8 Fix **/
.form-table th {
    padding: 20px 10px;
}

#wpbody-content .metabox-holder {
    padding-top: 5px;
}

/*
.chosen-container-single, .chosen-container-multi {
	min-width: 244px !important;
}
*/

#poststuff h2.nav-tab-wrapper .nav-tab-active {
    margin-bottom: -2px !important;
}

#poststuff h2.nav-tab-wrapper {
    margin-bottom: 0px !important;
    padding-bottom: 0px;
    border-bottom: 1px solid #0073aa !important;
}

.nav-tab-active, .nav-tab-active:hover {
    background: #0073aa !important;
    color: #fff !important;
}

.nav-tab-active, .nav-tab-active:focus, .nav-tab-active:focus:active, .nav-tab-active:hover, .postbox {
    border-top: 2px solid #0085ba;
}

h3.setting_heading, h4.setting_subheading {
    background: url('../images/heading-img.png') center center repeat-x;
    margin-top: 0px;
    margin-bottom: 0px;
}

.select2-container {
    width: 100% !important;
}


.multicheck_fields{

}

.multicheck_fields .multicheck_field{}
.multicheck_fields .multicheck_field label{
    margin-top: 0px !important;
    vertical-align: top;
}
.multicheck_fields .multicheck_field .multicheck_field_handle{
    width: 20px; height: 20px;
    margin-right: 20px;
    cursor: move;
    background:#ffff  url("../images/sort.png") center 5px no-repeat ;
    display: inline-block;
}
.multicheck_fields .multicheck_field_placeholder{
    outline: 1px dashed #000;
    height: 30px;
}

.form-table td fieldset.radio_fields {
}

.form-table td fieldset.radio_fields label {
    display: inline-block !important;
    margin-right: 10px !important;
}

.form-table td fieldset.radio_fields label:last-child {
    margin-right: 0px !important;
}

.checkbox-toggle-btn {
    vertical-align: middle;
    width: 26px;
    height: 26px;
    margin: 0 5px 0 0;
    border-radius: 26px;
    display: inline-block;
    position: relative;
    /*background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAyklEQVQ4T42TaxHCQAyENw5wAhLACVUAUkABOCkSwEkdhNmbpHNckzv689L98toIAKjqGcAFwElEFr5ln6ruAMwA7iLyFBM/TPDuQSrxwf6fCKBoX2UMIYGYkg8BLOnVg2RiAEexGaQQq4w9e9klcxGLLAUwgDAcihlYAR1IvZA1sz/+AAaQjXhTQQVoe2Yo3E7UQiT2ijeQdojRtClOfVKvMVyVpU594kZK9zzySWTlcNqZY9tjCsUds00+A57z1e35xzlzJjee8xf0HYp+cOZQUQAAAABJRU5ErkJggg==") no-repeat 50px center #e74c3c;*/
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAyklEQVQ4T42TaxHCQAyENw5wAhLACVUAUkABOCkSwEkdhNmbpHNckzv689L98toIAKjqGcAFwElEFr5ln6ruAMwA7iLyFBM/TPDuQSrxwf6fCKBoX2UMIYGYkg8BLOnVg2RiAEexGaQQq4w9e9klcxGLLAUwgDAcihlYAR1IvZA1sz/+AAaQjXhTQQVoe2Yo3E7UQiT2ijeQdojRtClOfVKvMVyVpU594kZK9zzySWTlcNqZY9tjCsUds00+A57z1e35xzlzJjee8xf0HYp+cOZQUQAAAABJRU5ErkJggg==") no-repeat 5px center #e74c3c;
    cursor: pointer;
    -webkit-transition: background-color .40s ease-in-out;
    -moz-transition: background-color .40s ease-in-out;
    -o-transition: background-color .40s ease-in-out;
    transition: background-color .40s ease-in-out;
    cursor: pointer;
}

.checkbox-toggle-btn.active {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmUlEQVQ4T6WT0RWDMAhFeZs4ipu0mawZpaO4yevBc6hUIWLNd+4NeQDk5sE/PMkZwFvZywKSTxF5iUgH0C4JHGyF97IggFVSqyCFga0CvQSg70Mdwd8QSSr4sGBMcgavAgdvwQCtApvA2uKr1x7Pu++06ItrF5LXPB/CP4M0kKTwYRIDyRAOR9lJTuF0F0hOAJbKopVHOZN9ACS0UgowIx8ZAAAAAElFTkSuQmCC") no-repeat 5px center #2ecc71;
}

.checkbox-toggle-btn.active .checkbox-round-btn {
    left: 45px;
}

.checkbox-toggle-btn .checkbox-round-btn {
    /*display: inline-block;*/
    display: none;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -15px;
    -webkit-transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
    transition: all .30s ease-in-out;
}

.checkbox-toggle-btn .checkbox {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.checkbox-round-btn-text {
    vertical-align: middle;
}

.form-table td fieldset.radio_fields {
}

.form-table td fieldset.radio_fields label {
    display: inline-block !important;
    margin-right: 10px !important;
}

.form-table td fieldset.radio_fields label:last-child {
    margin-right: 0px !important;
}

/*repeat field*/
.form-table-fields-parent {
    list-style: none;
}


.form-table-fields-parent .form-table-fields-parent-item{
    border: 1px solid rgba(29, 161, 242, 1.00);
    /*padding: 5px;*/
    margin-bottom: 5px;
    /*display: none;*/
}

.form-table-fields-parent .form-table-fields-parent-item-placeholder{
    outline: 1px dashed #000;
    height: 20px;
    padding: 5px;
    margin-bottom: 5px;
}

.form-table-fields-parent .form-table-fields-parent-item h5{
    margin: 0px;
    background: #0085ba;
    color: #fff;
    padding: 2px 5px;
    line-height: 2;
}
.form-table-fields-parent-item-icon{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
    float: right;
    cursor: pointer;
}
.form-table-fields-parent-item-sort{
    background:url("../images/sort_white.png") no-repeat;
    background-size: cover;

}
.form-table-fields-parent-item-control{
    background:url("../images/control_white.png") no-repeat;
    background-size: cover;
}

.form-table-fields-parent .form-table-fields-parent-item .form-table-fields-parent-item-wrap{
    display: none;
    padding: 5px;
}

.form-table-fields-parent .form-table-fields-parent-item .form-table-fields-items {
    list-style: none;
}

.form-table-fields-parent .form-table-fields-parent-item .form-table-fields-items .form-table-fields-item {
}

.form-table .form-table-fields-items{
    width: 100%;
}
.form-table .form-table-fields-items tr{}
.form-table .form-table-fields-items tr td{
    padding:0 0 2px 0;
    line-height: 1.3;
    vertical-align: middle;
}
.form-table .form-table-fields-items tr td label.main-label{
   display: block;
}
